
.accounts-per-page-wrapper{
    margin: 20px 0;
}

.players-table{
    border: 1px solid black;
}
.header-cell{
    border: 1px solid black;
    min-width: 80px;
    padding: 3px;
    border-collapse: collapse;
}

.cell{
    border: 1px solid black;
    min-width: 80px;
    padding: 3px;
}

.cell-small{
    min-width: auto;
}

.activeButton{
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

button{
    background-color: white;
    border: none;
}

button:hover{
    cursor: pointer;
}

.pagination-wrapper{
    margin: 20px 0;
}
.createAccountForm{
    margin: 20px 0;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    box-sizing: border-box;
}

.create-field{
    margin: 5px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.create-button {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}